.link_style {
  text-decoration: none;
}
.MuiListItemText-primary {
  color: rgb(29, 42, 48);
  font-weight: 500 !important ;
  letter-spacing: 1px !important;
}
.dashboard-menu .Mui-selected{
  background-color: #5C5CFF !important;
  margin: 0.5;
}
.active-link{
  background-color:#5C5CFF !important;
  color:red !important;
}





 