 /* ManageReport.css */

.background-animation {
    background-color: #000; /* Set your desired background color */
    animation: gradient 15s ease infinite alternate; /* Adjust animation duration and timing as needed */
  }
  
  @keyframes gradient {
    0% {
      background-color: #ff5733; /* Start color */
    }
    100% {
      background-color: #9000ff; /* End color */
    }
  }
  
  /* Your existing styles for the sign class can go here */
  